%div.container.justify-content
  %p.text-justify
    ALFADEO is a collective of sound and media artists from Freiburg/Germany and Basel/Switzerland. We produce electronic music, set up installations, create videos and digital photography favoring context specific improvisation over theoretical concepts, genres and boring edit sessions. Alfadeo is active since 2000.
  %p
    We release our work under creative common licenses at following Netlabels:
  %div.row
    %div.col-sm-12
      %a{:href => "https://archive.org/search.php?query=alfadeo&sort=-downloads", :target=>"_blank"} Miniatura Records,
      %a{:href => "https://archive.org/search.php?query=alfadeo&sort=-downloads", :target=>"_blank"} Audiocast Productions,
      %a{:href => "https://archive.org/search.php?query=alfadeo&sort=-downloads", :target=>"_blank"} VKRS Netlabel,
      %a{:href => "https://archive.org/search.php?query=alfadeo&sort=-downloads", :target=>"_blank"} Astor Bell
  %br
  %p.text-justify
    and usually at:
  %div.row
    %div.col
      %a{:href => "http://alfadeo.bandcamp.com", :target=>"_blank"} Bandcamp,
      %a{:href => "http://vimeo.com/alfadeo", :target=>"_blank"} Vimeo,
      %a{:href => "https://www.youtube.com/channel/UCI7oubvfGF3UhREz7E4-Esg", :target=>"_blank"} YouTube,
      %a{:href => "https://500px.com/alfadeo", :target=>"_blank"} 500px
  %br
  %p.text-justify
    and sell collectibles in limited editions at:
  %div.row
    %div.col
      %a{:href => "http://alfadeo.spreadshirt.de", :target=>"_blank"} Spreadshirt
  %br
  %p.text-justify
    Please contact art [at] alfadeo [dot] de if you want to book us for live shows or custom installations.

  %hr
  %p.text-justify
    In 2009 we had a time on SoundCloud until they nicked some of our tracks by their stupid copyright algorithm. Since then new music gets released only at Bandcamp !
    %br
    We did a couple remixes and started our own remix project "Dicrom" where 10 artists did their version of our track.

  %p.text-justify
    Dicrom
    %div.embed-responsive.embed-responsive-4by3{:style=>"margin: 0 auto;padding: 0;text-align:center;min-height:166px;max-height:166px;max-width:640px;"}
      %iframe{ :width=>"100%", :height=>"166", :scrolling=>"no", :frameborder=>"no", :src=>"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/342675&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"}

  %p.text-justify
    Dicrom - The Remixes
    %div.embed-responsive.embed-responsive-4by3{:style=>"margin: 0 auto;padding: 0;text-align:center;min-height:450px;max-height:450px;max-width:640px;"}
      %iframe{ :width=>"100%", :height=>"450", :scrolling=>"no", :frameborder=>"no", :src=>"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/58602&amp;color=ff5500&amp;auto_play=false&amp;hide_related=true&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"}

  %p.text-justify
    Remixes
    %div.embed-responsive.embed-responsive-4by3{:style=>"margin: 0 auto;padding: 0;text-align:center;min-height:450px;max-height:450px;max-width:640px;"}
      %iframe{ :width=>"100%", :height=>"450", :scrolling=>"no", :frameborder=>"no", :src=>"https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/118997&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"}
